nav a {
    font-family: 'Roboto Slab', serif;
    color: white;
}

 .jumbotron {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
} 

body { 
    padding-top: 65px; 
}

th, td {
   text-align: center; 
   vertical-align: middle;
}



#job_desc {
    text-align: center;
}

.table .thead-dark tr th {
    vertical-align: middle;
    position: sticky;
    top: 0;
}