<!doctype html>
<html>

<head>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'blog/j_logo.jpg' %}" alt="logo"" />
    <title>Jim's Crawler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/crawler.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-fixed-top bg-dark">
        <a href="/" class="navbar-brand navbar-text">
            <img src="{% static 'blog/j_logo.jpg' %}" alt="logo" width="42" height="42">
                Jim's Crawler
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-iem active">
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/heykorean_jobs">
                            HeyKorean Job Search(IT)
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/jobkorea_jobs">
                            JobKorea Search(IT)
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/djangogirls">
                            DjangoGirls Blog
                        </a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="container-full-bg">
        <div class="jumbotron">
            <div class="col-md-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


</body>

</html>