{% extends "blog/base.html" %}
{% load jobkorea_tags %}

{% block content %}
<h3>Jobkorea jobs (IT)</h3>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">&laquo; first</a>
    <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
    <a href="?{% param_replace page=paginator.num_pages %}">last &raquo;</a>
    {% endif %}
  </span>
</div>
<form action="">
  <label for="company_name">Company name : </label>
  <input type="text" id="company_name" name="company_name__contains" value={{ request.GET.company_name__contains }}>
  <label for="job_title">Job Title : </label>
  <input type="text" id="job_title" name="job_title__contains" value={{ request.GET.job_title__contains }}>
  <label for="job_description">Job Description : </label>
  <input type="text" id="job_description" name="job_description__contains" value={{ request.GET.job_description__contains }}>
  <br><label for="area">Area : </label>
  <input type="text" id="area" name="area__contains" value={{ request.GET.area__contains }}>
  <label for="education">Education : </label>
  <input type="text" id="education" name="education__contains" value={{ request.GET.education__contains }}>
  <label for="experience">Experience : </label>
  <input type="text" id="experience" name="experience__contains" value={{ request.GET.experience__contains }}>
  <br><input type="submit" value="Submit">
</form> <br>

<table class="table table-hover table-striped sticky">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Comapny Name</th>
      <th scope="col">Job title</th>
      <th scope="col">Published Date</th>
      <th scope="col">Area</th>
      <th scope="col">Job Style</th>
      <th scope="col">DeadLine</th>
      <th scope="col">Eduction</th>
      <th scope="col">Experience</th>
      <th scope="col">Salary</th>
      <th scope="col">Post Link</th>
    </tr>
  </thead>
  <tbody>
    {% for job in page_obj %}
      <tr>
        <td>{{ job.company_name }}</td>
        <td>{{ job.job_title }}</td>
        <td>{{ job.published_date }}</td>
        <td>{{ job.area }}</td>
        <td>{{ job.jobstyle }}</td>
        <td>{{ job.deadline }}</td>
        <td>{{ job.education }}</td>
        <td>{{ job.experience }}</td>
        <td>{{ job.salary }}</td>
        <td><a href="{{ job.post_link }}">link</a></td>
      </tr>
      <tr>
        <td id="job_desc" colspan=10>
          {{ job.job_description }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">&laquo; first</a>
    <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
    <a href="?{% param_replace page=paginator.num_pages %}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{%  endblock %}